# This will prevent generating "Not Found" error in browser
# Then we will manually do the rest to produce page for user
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^(.*) index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]
</IfModule>